# Block packages published less than 1 day ago to mitigate supply-chain attacks.
# See: https://github.com/axios/axios/issues/10604
# Note: npm does not support per-package exceptions (npm/cli#8994).
min-release-age=1
