name: NPM publish

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  publish-initia:
    if: ${{ startsWith(github.event.release.tag_name, 'v') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-ledger-key:
    if: ${{ startsWith(github.event.release.tag_name, 'ledger-key@') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
        working-directory: ./ledger-key
      - run: npm publish
        working-directory: ./ledger-key
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
